@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #282B2D
}
.component{
    max-width: 300px;
    padding: 16px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}
.paragraph{
    padding: 1em;
    font-family: 'Outfit', sans-serif;
}
p:first-of-type{
font-weight: 700;
text-align: center;
}
p:last-of-type{
    font-weight: 400;
    text-align: center;
}